/* MAVControl Custom Stylesheet */
/**
 */

html {
    overflow: hidden;
}

nav, footer {
    position: relative;
}

#moving-hud-panel {
    height: 100%;
    transform: rotate(0deg);

    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#moving-hud-bg {
    transform: translate(-50%, -38%);
    position: absolute;
}

#moving-hud-markings {
    margin-right: 30px;
    position: absolute;
    transform: translate(-56%, -25%);
}

#moving-hud-bottom {
    height: 700px;
    width: 1000px;
}

#hud-row-lower {
    position: relative;
    height: 100vh;
}

.hud_tabs {
    text-align: left;
}

.row .col .servo_btn {
    padding: 0 5px;
}

#messages {
    max-height: 32vh;
    padding-left: 20px;
}

.scroll {
    overflow: auto;
}

.btn {
    font-size: 80%;
    min-width: 70px;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
}

.servo_toggle.btn {
    min-width: 30px;
}

#do_action.btn {
    padding: 1px;
}

div.input-field {
    margin-top: -8px;
}

#hud-row-upper, .select-wrapper input.select-dropdown, input[type=text]:not(.browser-default).validate,
#hud-row-lower, #servo_status_row {
    margin-bottom: 0;
}

.card-content {
    height: 33vh;
    padding-top: 10px;
}

#hud-panel-contents {
    height: 50vh;
    position: relative;
}

a[href^="http://maps.google.com/maps"] {
    display: none !important
}

a[href^="https://maps.google.com/maps"] {
    display: none !important
}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display: none;
}

.gmnoprint div {
    background: none !important;
}

#main-row {
    min-height: 88vh;
}

#map-row-upper, #map-panel {
    height: 100%;
}

.hud_tabs {
    height: 39vh;
    overflow: auto;
}

#hud-panel {
    width: 40vw;
}

#map-panel {
    width: 60vw;
    float: right;
}

#map {
    position: absolute;
    top: 7vh;
    bottom: 5vh;
    width: 60vw;
    min-height: 200px;
}

.navigation {
    min-height: 7vh;
    position: absolute;
    z-index: 1;
}

#map-bottom-contents {
}

#main-row, #map-row-upper, #map-panel {
    margin: 0;
}

#copyright {
    text-decoration: underline;
}

.input-icon {
    padding-top: 8px;
}

.page-footer {
    padding: 10px;
    min-height: 5vh;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.container .row {
    margin-bottom: 0;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/static/fonts/mdi.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.floating-scales, .floating-scale-pointer {
    position: absolute;
    height: 25vh;
    width: 5vw;
    background-color: #00000050;
    color: #fff;
    font-size: 1.2em;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    margin-top: 4vh;
}

.floating-scale-pointer {
    height: 3vh;
    margin-top: 0;
    background-color: #000;
}

#floating-scale-altitude {
    right: 0;
}

.floating {
    position: absolute;
    background-color: #00000050;
    color: #fff;
    font-size: 1.2em;
    bottom: 10%;
    right: 0;
    z-index: 1;
    padding-left: 5px;
    padding-right: 5px;
}

#floating-armed {
    right: 45%;
}