<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>{% if page_name %}{{ page_name }}{% else %}MAVControl{% endif %}</title>
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js" charset="utf-8"></script>

    <!-- CSS  -->
    <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <span id="logo-container" class="brand-logo">
            {% if page_name %}{{ page_name }}{% else %}MAVControl{% endif %}
        </span>
        <ul class="right hide-on-med-and-down">
            <li><a class="white-text modal-trigger" href="#modal_conn_settings">Connection Settings</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a class="white-text modal-trigger" href="#modal_conn_settings">Connection Settings</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <!--<div class="row center">
            <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>-->
        <div class="row center">
            <a href="http://materializecss.com/getting-started.html" id="download-button"
               class="btn-large waves-effect waves-light orange">Get Started</a>
            <h3>Send:</h3>
            <form id="emit" method="POST" action='#'>
                <input type="text" name="emit_data" id="emit_data" placeholder="Message">
                <input type="submit" class="btn-large waves-effect waves-light orange" value="Send Message">
            </form>
            <h3>Received Socket Messages:</h3>
            <div id="log"></div>
        </div>
        <br><br>
    </div>
</div>

<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                Made by <a class="orange-text text-lighten-3" target="_blank" href="https://jaimyn.com.au">Jaimyn
                Mayer</a> and released under GPLv3.
            </div>
            <div class="col l3 s12">
                <a class="white-text modal-trigger" href="#modal1">About</a>
            </div>
            <div class="col l3 s12">
                Backend Latency: <b><span id="footer-ping-pong"></span>ms</b>
            </div>
        </div>
    </div>

    <!-- About Modal-->
    <div id="modal1" class="modal">
        <div class="modal-content black-text">
            <h4>About MAVControl</h4>
            <p>MAVControl is <strong>preAlpha</strong>. Notice the preAlpha bit? That means it's still just random
                characters mashed together in the hope that it does something. It's a WIP, bug reports will be ignored
                and it most definitely should not be used with anything in the air. (or on the ground, or in water for
                that matter)
                <br><br>
                I'm a university student at QUT in Brisbane, Australia and I'm coding this in my free time over the
                summer break. See this project on GitHub by
                <a target="_blank" href="https://github.com/jabelone/MAVControl">clicking here</a>!
                <br><br>
            <h4>Project Goals:</h4>
            This project is meant to compliment Mission Planner. Mission Planner is fantastic and this will never
            replace it. However, when running an operation Mission Planner isn't really reliable enough. It crashes
            slightly to often to be considered reliable and isn't very portable between operating systems. The goal of
            this is to replace the "Flight Data" screen in Mission Planner with something super reliable, fast and
            clean.

            <br><br>
            <h4>Developer Info:</h4>
            Python version: <b>{{ python_version }}</b><br>
            Async mode is: <b>{{ async_mode }}</b><br>
            Backend Latency: <b><span id="about-ping-pong"></span>ms</b>
            </p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

    <!-- Connection Settings Modal-->
    <div id="modal_conn_settings" class="modal">
        <div class="modal-content black-text">
            <h4>Connection Settings</h4>
            <p>Please specify an IP and port to bind to - ensure remote end is already sending data. At the moment UDP
                is supported.
            <div class="chip">
                <span class="orange-text text-darken-2">To apply, you must restart the backend!</span>
                <i class="close material-icons">close</i>
            </div>

            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s8">
                            <i class="input-icon material-icons prefix">settings_ethernet</i>
                            <input id="icon_prefix" type="text" class="validate" required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$">
                            <label for="icon_prefix">IP Address</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Port Number</label>
                        </div>
                    </div>
                </form>
            </div>

            </p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            <a href="#!" class="waves-effect waves-light btn"><i class="material-icons right">save</i>Save</a>
        </div>
    </div>

    <!--  Scripts-->
    <!--<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>-->
    <script src="/static/js/materialize.js"></script>
    <script src="/static/js/init.js"></script>

</body>
</html>
